.container {
  background: #faf8ef;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  font-family: 'Apple SD Gothic Neo';
  font-weight: bold;
  font-size: 80px;
  color: #776e65;
  margin-bottom: 20px;
}